.container{
    color:rgb(43, 43, 43);
}

.titulo{
    color: #ff6100;
    font-size: 25px;
    font-weight: 500;
    text-align: center;
}

.subtitulo{
    color: #464646;
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.form{
    border-radius: 20px;
    margin-top: 30px;
}

.enterButton{
    background-color: #ff6100 !important;
    
}

.enterButton:hover{
    background-color: #c54a03;
}

.logoHome{
    width: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}
