.setField{
    margin-bottom: 20px !important;
}

.logo{
    width: 70%;
    margin: 40px auto;
}

.footer{
    color: #C6C6C6;
    margin: 0 auto;
    text-align: center;
}

.enterButton{
    background-color: #ff6100 !important;
    
}

.enterButton:hover{
    background-color: #c54a03;
}

.url{
    color: #ff6100;
    text-decoration: underline; 
}

.container{
    max-width: 500px;
}

.form{
    border-radius: 20px;
    padding: 40px;
    margin-bottom: 30px;
}